In [ ]:
list = ['puja', 'rima', 'riya', 'maya', 'siya', 'piya', 'rema', 'raja', 'diya', 'shona', 'mona', 'somona', 'dona', 'bina', 'mina']
list[11] = ['pallabi']
list

['puja',
 'rima',
 'riya',
 'maya',
 'siya',
 'piya',
 'rema',
 'raja',
 'diya',
 'shona',
 'mona',
 ['pallabi'],
 'dona',
 'bina',
 'mina']

In [ ]:
numbers = [10, 20,30,40,50,60]
numbers [1:4]

[20, 30, 0]

In [ ]:
numbers = [10, 20,30,0,50,60]
numbers [0:3]

[10, 20, 30]

In [ ]:
numbers = [10, 20,30,40,50,60]
numbers [:3]

[10, 20, 30]

In [ ]:
numbers = [10, 20,30,40,50,60]
numbers [4:]

[50, 60]

In [ ]:
numbers = [10, 20,30,40,50,60]
numbers [::-1]

[60, 50, 0, 30, 20, 10]

In [ ]:
numbers = [10,20,30,40,50,60,70,80,]
numbers[0]

10

In [ ]:
numbers = [10,20,30,40,50,60,70,80,]
numbers[-1]

80

In [ ]:
numbers = [10,20,30,40,50,60,70,80,]
numbers[-2]

70

In [ ]:
numbers = [10,20,30,40,50,60,70,80,]
numbers[::-1]

[80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
# list: ordered collection of items that can be changed(mutable)
x = ['apple', 'banana', 'cherry']
x

['apple', 'banana', 'cherry']

In [ ]:
numbers = [2, 3, 4, 7, 8, 9]
numbers

[2, 3, 4, 7, 8, 9]

In [ ]:
mixed = [12,'hello', 4.3, True]
mixed

[12, 'hello', 4.3, True]

In [ ]:
# total number of elements are 8 then indexing will be till 7
# n-1

In [ ]:
# list homework:
# Create a list of 5 fruits and:
# Print the first and last fruit.
# Replace the third fruit with another fruit.
# Add a new fruit to the list.
# Remove one fruit from the list.

fruits = ['orange', 'banana', 'apple', 'kiwi', 'mango']
fruits
print(fruits[0::4])

['orange', 'mango']

['orange', 'banana', 'strawberry', 'mango', 'pineapple']

In [ ]:
fruits = ['orange', 'banana', 'apple', 'kiwi', 'mango']
fruits[2] = 'strawberry'
fruits

['orange', 'banana', 'strawberry', 'kiwi', 'mango']

In [ ]:
fruits = ['orange', 'banana', 'apple', 'kiwi', 'mango']
fruits.append("pineapple")
fruits

['orange', 'banana', 'apple', 'kiwi', 'mango', 'pineapple']

In [ ]:
fruits = ['orange', 'banana', 'apple', 'kiwi', 'mango']
fruits.remove('mango')
fruits

['orange', 'banana', 'apple', 'kiwi']

In [ ]:
# 2. Given numbers = [5, 10, 15, 20, 25]:
# Print the first three numbers.
# Print the list in reverse.
# Find the sum of all numbers.
numbers = [5, 10, 15, 20, 25]
print(numbers[0:3])

[5, 10, 15]

In [ ]:
# 2. Given numbers = [5, 10, 15, 20, 25]:
# Print the first three numbers.
# Print the list in reverse.
# Find the sum of all numbers.
numbers = [5, 10, 15, 20, 25]
numbers.reverse()
print(numbers)

[25, 20, 15, 10, 5]

In [ ]:
# 2. Given numbers = [5, 10, 15, 20, 25]:
# Print the first three numbers.
# Print the list in reverse.
# Find the sum of all numbers.
numbers = [5, 10, 15, 20, 25]
numbers[::-1]

[25, 20, 15, 10, 5]

In [ ]:
# OR
# 2. Given numbers = [5, 10, 15, 20, 25]:
# Print the first three numbers.
# Print the list in reverse.
# Find the sum of all numbers.
numbers = [5, 10, 15, 20, 25]
total = sum(numbers)
print(f'the sum of all the numbers', total)

the sum of all the numbers 75

In [ ]:
# 3. Write a program to find the maximum and minimum element in a list.
list_1 = [45, 34, 23, 33, 60, 21, 28]
maximum = max(list_1)
# maximum
minimum = min(list_1)
# minimum

print(f'The maximum element in the list is', maximum)
print(f'The minimum element in the list is', minimum)

The maximum element in the list is 60
The minimum element in the list is 21

In [ ]:
# 4. Remove duplicates from a list:
# Example: [1, 2, 2, 3, 4, 4, 5] → [1, 2, 3, 4, 5]
new_list = [23, 21, 30, 33, 28, 28, 45]
unique_number = list(dict.fromkeys(new_list))
print(new_list)
print(unique_number)

[23, 21, 30, 33, 28, 28, 45]
[23, 21, 30, 33, 28, 45]

In [ ]:
# 5. Join two lists:
# a = [1, 2, 3], b = [4, 5, 6] → [1, 2, 3, 4, 5, 6]
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

[10, 20]

['alice', 30, 'engineer']

In [ ]:
# sets stores non duplicate values
apple = {'mango', 'grapes', 'mango', 'banana'}
apple

{'banana', 'grapes', 'mango'}

In [ ]:
x = {1,2,3}
y = {3,4,5}
x|y

{1, 2, 3, 4, 5}

In [ ]:
x = {1,2,3}
y = {3,4,5}
x & y

{3}

In [ ]:
# add (x) : adds an element
# update (iterable) adds multiple elements
# remove(x) removes elements (error if not found)
# discard (x) removes elements (no error if missing)
# pop () removes and returns a random elements
# clear ()

In [ ]:
x = {'New York', 'Los Angeles', 'Chicago'}
y = ['Los Angeles', 'Chicago', 'San Fransisco']

# 1. print places you want to visit but your friend does not.
# 2. print places your friend want to visit but you dont.
# 3. print places you both want to visit.
# 4. Add New Jersey to your friend's list.

In [ ]:
x = {'New York', 'Los Angeles', 'Chicago'}
y = {'Los Angeles', 'Chicago', 'San Fransisco'}
x - y

{'New York'}

In [ ]:
x = {'New York', 'Los Angeles', 'Chicago'}
y = {'Los Angeles', 'Chicago', 'San Fransisco'}
y - x

{'San Fransisco'}